.wrap {
    width: 100%;
    overflow:auo;
    }
    
    .fleft {
        float:right; 
        width: 40%;
    background:white;
        height: 400px;
    }
    
    .fright {
    float: left;
        background:lightgray;
        height: 100vh;
        width: 10%;
    }
    