<!--
  <div>
  <h2>Registered Patients</h2>
<mat-list *ngFor="let patient of patientList">
    <mat-list-item ng-click="/patient-data">
      <p>{{ patient.name }}    {{ patient.email }}   {{  patient.$key }}</p>
      </mat-list-item>
   </mat-list>
   </div>
    {{ patient.email }}   {{  patient.$key }}
 -->
  <div layout="row" layout-align="center">
      <mat-list class="md-whiteframe-2dp" flex="66" *ngFor="let patient of patientList">
          <p>{{ patient.name }}</p>
          <mat-divider></mat-divider>
      </mat-list>
    </div>
 