<!--The content below is only a placeholder and can be replaced.-->
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Development Console</span>
      
          <span class="example-spacer"></span>
          
          <button class="active" mat-button routerLink="/home" routerLinkActive="active">Home</button>
          <button class="active" mat-button routerLink="/newsFeed" routerLinkActive="active" >News Feed</button>
          <button class="active" mat-button routerLink="/patientlist" routerLinkActive="active">Patient List</button>
          <button class="active" mat-button routerLink="/patientdata" routerLinkActive="active">Patient Data</button>
          <button class="active" mat-button routerLink="/login" routerLinkActive="active" >Logout</button>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    


